<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BackUMan</title>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>


<div class="header"></div>
<div id="top-bar" class="container"><a href="/api/logout">Logout</a></div>
<div class="container">
	<h1 style="margin-bottom: 20px;">Bak-U-Man</h1>
    <div >
        <div id="content" class=">"></div>
    </div>
    <footer class="footer">
    </footer>
</div>
<div id="loader"><img src="/public/img/ajax-loader.gif" /></div>
<script src="/public/lib/jquery-1.7.2.min.js"></script>
<script src="/public/lib/json2.js"></script>
<script src="/public/lib/underscore-min.js"></script>
<script src="/public/lib/backbone-min.js"></script>
<script src="/public/bootstrap/js/bootstrap.js"></script>
<script src="/public/js/utils.js"></script>
<script src="/public/js/models.js"></script>
<script src="/public/js/bakuman.js"></script>

</body>
</html>