<form class="form-horizontal" id="login-form">
        <fieldset>
                    <div class="control-group">
                         <label for="username" class="control-label">Username:</label>
                        <div class="controls">
                            <input id="name" name="name" type="text" class="span3"
                                   />
                        </div>
                         <label for="psw" class="control-label">Password:</label>
                         <div class="controls">
                            <input id="psw" name="psw" type="text" class="span3"
                                   />
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary save" name="login" value="Login"/>
        </div>
</form>