<form class="form-horizontal">
        <fieldset>
                    <div class="control-group">
                         <label for="userId" class="control-label">name:</label>
                        <div class="controls">
                            <input id="userName" name="name" type="text" value="<%= name === null ? '' : name %>" class="span3"
                                   />
                        </div>
                         <label for="userId" class="control-label">email:</label>
                         <div class="controls">
                            <input id="email" name="email" type="text" value="<%= email === null ? '' : email %>" class="span3"
                                   />
                        </div>
                         <label for="userId" class="control-label">psw:</label>
                        <div class="controls">
                            <input id="psw" name="psw" type="text" value="<%= psw === null ? '' : psw %>" class="span3"
                                   />
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save">Save</a>
            <a href="#" class="btn btn-cancel back">cancel</a>

           <!-- <a href="#" class="btn btn-danger delete">Delete</a>-->
        </div>

    </form>